<div id="PostDetails"></div>
@model Blog.Models.Post
@using Blog.Controllers
@using Blog.Models


<head>
    <script src="~/assets/js/jquery.js" type="text/javascript"></script>
    <script src="~/jQuery.dotdotdot-master/src/js/jquery.dotdotdot.min.js" type="text/javascript"></script>
    @{
        ViewBag.Title = "Details";
    }
</head>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink(
                       "Edit Post",
                       "Edit",
                       new { id = Model.Id },
                       new { @class = "post-details" })
}

<body>
<div class="row medium-8 large-7 columns">
    <div class="blog-post">
        <h1>@Html.DisplayFor(model => model.Title)<small>Created:@Html.DisplayFor(model => model.Created)</small>
        </h1>
        <img class="thumbnail" src="@Html.DisplayFor(model => model.MediaUrl)">
        <div id="wrapper">
            <p>@Html.DisplayFor(model => model.Body)</p>
        </div>
        @Html.ActionLink("Create New Comment", "Create", "Comments",  "Id",
            new { Id = Model.Id})
        <div class="section-lines">
            @foreach (var comment in Model.Comments)
            {
                @comment@*(comment, 0);*@
            }
        </div>
    </div>
</div>

    @Html.ActionLink("-", "Delete", "Comments", "Id", new { Id = Model.Id})
    @*<div>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial()
            }
        </div>*@

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
















@*<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
